@import "./variables.scss";

.bg-white {
    background-color: $white;
}

.rounded-border {
    border-radius: 8px;
}

.box-shadow {
    box-shadow: 0em 0em 0.2em $blackLight;
}

.default-padding {
    padding: 16px;
}
