// COLORS
$primary: #4a4677;
$secondary: #7e67ba;

$primaryLight: lighten($primary, 10%);
$primaryLighter: lighten($primary, 20%);
$primaryLightest: lighten($primary, 50%);

$secondaryLight: lighten($secondary, 10%);

$green: #52ce9c;
$red: #d20000;

$bg: #e5e5e5;
$white: #fff;
$black: #000;

$blackLight: lighten($black, 80%);

// SIZES
$desktop: 900px;
