@import "../../styles/presets";
@import "../../styles/hovers";

#content {
  margin-top: 10vh;
  flex-grow: 9;
  overflow-y: auto;
  background-image: url("../../assets/ngeks.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: $primaryLightest;

  .action-bar {
    @include desktop {
      height: 40px;
      display: flex;
      justify-content: space-between;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    @extend .default-padding;

    .search-bar {
      justify-content: center;
      display: flex;

      .search-field {
        @include desktop {
          margin-right: 8px;
        }

        @extend .rounded-border;

        @include mobile {
          margin: 10px;
          padding: 4px;
          height: 40px;
        }
      }
    }

    .archive-bar {
      display: flex;
      align-items: center;
      color: $primary;
      text-align: center;
      justify-content: center;

      @extend .rounded-border;

      h4 {
        padding-left: 16px;
      }
    }

    .action-button {
      justify-content: center;
      padding: 0 16px;
      display: flex;
      align-items: center;
      color: white;

      @include mobile {
        margin: 10px;
        padding: 4px;
        height: 40px;
      }

      @extend .button-primary;
      @extend .clickable;
      @extend .rounded-border;
      @extend .box-shadow;
    }
  }

  .content-message {
    text-align: center;
    color: $secondary;
  }

  .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    max-height: inherit;

    @extend .default-padding;

    .content-item {
      justify-content: space-between;
      display: flex;
      margin-bottom: 16px;
      align-items: center;

      border-left: 8px solid $secondary;

      @extend .subtle-hover-grow;
      @extend .bg-white;
      @extend .default-padding;
      @extend .box-shadow;
      @extend .rounded-border;

      .record-datas {
        .key-value-pair {
          display: flex;
          justify-content: space-between;

          .key {
            font-weight: bold;
            text-transform: capitalize;
          }

          .value {
            margin-left: 20px;
          }
        }
      }

      .icons-container {
        display: flex;
        @include mobile {
          flex-direction: column;
        }

        .icon-container {
          margin: 8px;
          background-color: $primary;

          @include mobile {
            margin: 4px;
          }

          @extend .rounded-border;
          @extend .clickable;
          @extend .box-shadow;
        }
      }
    }
  }
}
