@import "../../styles/presets";
@import "../../styles/hovers";

#content {
  margin-top: 10vh;
  flex-grow: 9;
  overflow-y: auto;

  .action-bar {
    height: 40px;
    display: flex;
    justify-content: space-between;

    @extend .default-padding;

    .search-bar {
      justify-content: center;
      display: flex;

      .search-field {
        margin-right: 8px;
        @extend .rounded-border;
      }
    }

    .action-button {
      justify-content: center;
      padding: 0 16px;
      display: flex;
      align-items: center;
      color: white;

      @extend .button-primary;
      @extend .clickable;
      @extend .rounded-border;
      @extend .box-shadow;
    }
  }

  .content-message {
    text-align: center;
    color: $secondary;
  }

  .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;

    max-height: inherit;

    @extend .default-padding;

    .content-item {
      justify-content: space-between;
      display: flex;
      margin-bottom: 16px;
      align-items: center;

      border-left: 8px solid $secondary;

      @extend .subtle-hover-grow;
      @extend .bg-white;
      @extend .default-padding;
      @extend .box-shadow;
      @extend .rounded-border;

      .icons-container {
        display: flex;

        .icon-container {
          // filter: invert(62%) sepia(78%) saturate(3342%) hue-rotate(219deg) brightness(77%) contrast(84%);
          margin: 8px;
          background-color: $primary;

          @extend .rounded-border;
          @extend .clickable;
          @extend .box-shadow;
        }
      }
    }
  }
}
