@import "../../styles/presets";
@import "../../styles/hovers";

#content {
    margin-top: 10vh;
    flex-grow: 9;
    overflow-y: auto;

    .action-bar {
        height: 40px;
        display: flex;
        justify-content: space-between;

        @extend .default-padding;

        .search-bar {
            justify-content: center;
            display: flex;

            .search-field {
                margin-right: 8px;
                @extend .rounded-border;
            }
        }

        .action-button {
            justify-content: center;
            padding: 0 16px;
            display: flex;
            align-items: center;

            @extend .bg-white;
            @extend .clickable;
            @extend .rounded-border;
            @extend .box-shadow;
        }
    }

    .content-container {
        max-height: inherit;
        @extend .default-padding;

        .content-item {
            margin-bottom: 16px;

            @extend .bg-white;
            @extend .default-padding;
            @extend .box-shadow;
            @extend .rounded-border;
        }
    }
}
