@import "../../styles/variables";
@import "../../styles/presets";
@import "../../styles/hovers";

.loader-container {
  margin: 0.6em;
}

.loader {
  margin: 4em auto;
  border: 1em solid #f2f2f2;
  border-top: 1em solid $blackLight;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
}

.mini-loader {
  border: 0.3em solid $blackLight;
  border-top: 0.3em solid $white;
  border-radius: 100%;
  width: 0.8em;
  height: 0.8em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#login {
  display: flex;
  background-color: $bg;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .login-form {
    background-color: white;
    max-width: 600px;
    width: 80vw;
    padding-bottom: 100px;

    @extend .rounded-border;
    @extend .default-padding;
    @extend .box-shadow;

    .login-title {
      text-align: center;
      color: $primary;
    }

    .form {
      text-align: center;
      .label {
        color: $primary;
      }

      .input {
        margin: auto;
      }

      .checkbox {
        margin: 16px;

        .label {
          margin-right: 8px;
        }
      }

      .login-button {
        display: inline-block;
        color: white;

        @extend .swal2-input;
        @extend .button-primary;
        @extend .clickable;
        @extend .rounded-border;
        @extend .box-shadow;
      }
    }
  }
}
