@import "../../styles/presets";
@import "../../styles/variables";
@import "../../styles/mixins";

#navbar {
  height: 6vh;
  width: 98%;
  z-index: 8;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Dancing Script", cursive;
  background-color: $secondary;
  color: white;

  @extend .box-shadow-darker;
  @extend .default-padding;

  .hamburger {
    display: none;
    @include mobile {
      display: block;
      margin: 0 20px;
    }
  }

  #overlay {
    display: none;
    @include mobile {
      display: block;
      background-color: $black;
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 100vh;
      opacity: 0.8;
    }
  }

  #sidebar {
    display: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;

    @include mobile {
      display: block;
      transition: 500ms;
      background-color: $primary;
      position: fixed;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      width: 0;
      height: 100vh;
    }

    * {
      padding: 16px 32px;
    }
  }
}
