@import "../../styles/presets";
@import "../../styles/variables";

#navbar {
    height: 6vh;
    width: 98%;
    z-index: 8;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Dancing Script", cursive;

    @extend .bg-white;
    @extend .box-shadow;
    @extend .default-padding;
}
