@import "../../styles/presets";
@import "../../styles/hovers";

#sidebar {
    padding-top: 10vh;
    flex-grow: 1;

    @extend .bg-white;
    @extend .default-padding;
    @extend .box-shadow;

    .divider {
        border-bottom: 0.4px solid $blackLight;
    }

    .sidebar-item {
        display: flex;
        flex-wrap: expand;
        align-items: center;

        @extend .clickable;
        @extend .default-padding;

        .icon {
            padding: 8px;
            height: 32px;
        }
    }
}
